<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timedance.enumscreensize">

    <application>
        <activity
            android:name="com.timedance.enumscreensize.EnumScreenSizeActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
